@import '../../app/styles/includes/vars';
@import '../../app/styles/includes/colors';
@import '../../app/styles/includes/mixins';

$namespace: "#legacy-portal .legacy-container"; 
$image-url: "https://access.redhat.com/insights/static/images"; 
$band-dark-bg: #252527;

// Resets
//==================================================================*/
.masthead .breadcrumbs { display: none; }
html.legacy-portal .main-content { width: auto; }

.portal-content-area,
.main-content,
.masthead,
#legacy-portal #container[class*="state-active status-published"], 
#legacy-portal #container[class*="state-active status-published"] #drupal-content { background: none; }

#legacy-portal .legacy-container .band .card p { min-height: 0; }

#{$namespace} {
  width: auto;
  padding: 0;
  margin: 0;

  .main-content { width: auto; }
  .band { background: #fff; }
  
  .videowrapper {
    float: none;
    clear: both;
    width: 100%;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

  }
}

// Background override
.portal-page .top-page-wrap {
  background: #000;

  @include media-query(sm) {
    background: url("#{$image-url}/bg_landing-hero.jpg") no-repeat;
    background-size: 100% auto;
  }
}



// Section headers
//==================================================================*/
#{$namespace} {

  h1,
  .section-header {
    @include rem('margin', 0 0 30px);
    padding: 0;
    border: none;
    font-weight: 700;
    @include font-size(24px);

    @include media-query (sm) { @include font-size(36px, 50px); }
    @include media-query (md) { @include rem('margin-bottom', $global-margin); }
  }
}


// Band whispy
//==================================================================*/

#{$namespace} .band.band-whispy {
  background: url("#{$image-url}/bg_whispy.jpg") no-repeat;
  background-size: cover;
}


// Landing page hero
//==================================================================*/

#{$namespace} .band.band-hero {
  color: #fff;
  text-align: center;
  margin: 0;
  background: url("#{$image-url}/bg_landing-hero.jpg") no-repeat;
  background-size: cover;

  @include media-query(sm) { background: none; }

  .btn {
    @include font-size(18px);
    @include rem('margin', $global-padding);
    @include rem('padding', 18px 32px);
    background: #11c0f9;
    text-transform: uppercase;
    border: none
  }
}


// Band video
//==================================================================*/

#{$namespace} .band.band-video {  }


// Band ansible
//==================================================================*/

#{$namespace} .band.band-ansible {
  background: url("#{$image-url}/bg_ansible.jpg") no-repeat;
  background-size: cover;
  color: #fff;

  .container {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    text-align: center;

    @include media-query(sm){
      text-align: left;
      flex-flow: row nowrap;
    }
  }
  
  // flex items
  .container > * {
    @include rem('padding', $global-padding);
    flex: 1 40%; 
  }


  .image { 
    flex: .5 1 40%;
    text-align: center; 
  }

  .text { flex: .5 1 40%; }

  a,
  h2,
  h3, { color: #fff; }

  .logo {
    @include rem('margin-bottom', $global-padding);
    max-width: 240px;
  }
}


// Band core values
//==================================================================*/

#{$namespace} .band.band-core-values {
  background: #f7f7f7;

  .container {
    display: flex;
    flex-flow: column nowrap;
  
    @include media-query(sm){ flex-direction: row; }
  }

  // flex items
  .container > * {
    flex: 0 1 calc(33% - #{$global-padding});
    @include rem('margin', $global-padding);
    text-align: center;
  }
}


// Band testimonial
//==================================================================*/

#{$namespace} .band.band-testimonial {
  background: $band-dark-bg;

  p,
  cite { color: #fff; }

  .testimonial { 
    @include reset;
  }

  .author {
    @include rem('padding', 0 20px);
    @include font-size(16px, 16px);
    text-transform: uppercase;
  }
}


// Band whispy
//==================================================================*/

#{$namespace} .band.band-resources {

  .flex {
    display: flex;
    flex-flow: column nowrap;
    @include rem('margin', 0 -15px);

    @include media-query(sm) { flex-flow: row wrap; }
  }

  .flex > * {
    flex: 0 1 calc(50% - 30px);
    margin: $global-padding;

    @include media-query(lg){ flex: 0 1 calc(25% - 30px); }
  }

  .card {
    display: flex;
    flex-flow: row wrap;

    .btn {
      align-self: flex-end;
    }
  }
}


// Icons
//==================================================================*/
.icon-center { text-align: center; }

.icon-split {
  position: relative;
  width: 130px;
  height: 130px;
  margin: 0 auto;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  @include rem('margin-bottom', $global-padding);
  background: #0085cf;
  color: #fff;
  @include font-size(74px);
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;

  &:after {
    content: "";
    position: absolute;
    top: 20%;
    left: 30%;
    width: 100%;
    height: 130%;
    background: lighten(#0085cf, 10);
    transform: rotate(45deg);
    z-index: 1;
  }

  .cp-icon {
    position: relative;
    z-index: 2;
  }
}

.icon-split.icon-split-red {
  background: #a30000;

  &:after {
    background: lighten(#a30000, 10);
  }
}

.icon-split.icon-split-orange {
  background: #ec7a08;

  &:after {
    background: lighten(#f4aa00, 10);
  }
}


#{$namespace} {

  .card {
    .btn {
      width: 100%;
      display: block;
      background: #cc0000;
    }

    p {
      @include media-query(sm) {
        min-height: 120px;
      }
      
      @include media-query(md) {
        min-height: 80px;
      }

      @include media-query(lg) {
        min-height: 80px;
      }
    }

    .card-title {
      @include media-query(sm) {
        min-height: 56px;
      }

      @include media-query(lg) {
        min-height: auto;
      }
    }
  }

  .pre-footer {

    .btn.btn-app {
      @include font-size(20px);
      @include rem('padding', 18px 32px);
      background: #11c0f9;
      text-transform: uppercase;
      margin-top: $global-margin;
    }
  }
}

.icon-center { text-align: center; }


.portal-page .related-resources .card {
  position: relative;

  .btn {
    @include media-query(md) {
      @include rem('padding-left', 4px);
      @include rem('padding-right', 4px);
    }
  }

  .card-title, p { min-height: auto; }
  p { @include media-query(md) { @include rem('padding-bottom', $global-margin); }}

  @include media-query(md) {
    @include rem('padding-bottom', 50px);
  }

  .full-width-button-wrapper {

    @include media-query(md) {
      @include rem('padding', 0 $global-margin);
    }

    &.bottom { @include rem('bottom', $global-margin); }

  }
}